*, ::after, ::before {
    box-sizing: border-box;
}

body {
    color: #fff;
   background-color: #0f0f0f;
}

.site-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.movie-item {
    width: 280px;
    height: 550px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #fff;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px #fff;
}

.movie-item:hover {
    box-shadow: 1px 5px 20px #fff;
}